footer {
    background: lightgrey;
    color: black;
    padding: 10px 0;
}

.logo {
    max-width: 30px;
    margin: 0 6px;
    align-self: center;
}

.logoIMG {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.footerIcons{
    float: right;
}