.navbar {
    background: white;
    border-bottom: 2px solid #dd092f;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 9;
}

.logo {
    max-width: 50px;
    transition: all .2s;
    margin-right: 20px;
}

.logo:hover {
    transform: scale(1.5,1.5);
    filter: invert(14%) sepia(67%) saturate(7456%) hue-rotate(345deg) brightness(97%) contrast(100%);
}

.navItem a {
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 20px;
    color: #242424;
}


.active {
    color: #2600ff !important;
}