.card{
    width: 48rem;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.image {
    padding: 20px;
    max-width: 10000px;
    margin: auto;
}

.title {
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.types {
    margin-top: 20px
}